# Theory Questions

#Que 1- What are data structures, and why are they important ?

  - Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently. Examples include arrays, linked lists, stacks, queues, trees, graphs, and hash tables.

Why Are Data Structures Important?

Efficiency – Enable fast data access and manipulation.

Organization – Help manage and structure data logically.

Problem Solving – Essential for designing effective algorithms.

Scalability – Support handling of large datasets smoothly.

Reusability – Provide modular solutions used across applications.

#Que 2-  Explain the difference between mutable and immutable data types with examples ?

Mutable vs Immutable Data Types

- Mutable Data Types can be changed after creation.

- Immutable Data Types cannot be changed once created.

Mutable Data Types (Can be modified)

Examples: list, dict, set

Immutable Data Types (Cannot be modified)

Examples: int, float, str, tuple

#Que 3- What are the main differences between lists and tuples in Python ?


In Python, lists and tuples are both used to store collections of items, but they differ in several key ways. The most important difference is mutability. Lists are mutable, meaning their contents can be changed after creation — you can add, remove, or modify elements. Tuples, on the other hand, are immutable; once created, their contents cannot be altered.

In terms of syntax, lists are defined using square brackets, for example: my_list = [1, 2, 3], whereas tuples use parentheses: my_tuple = (1, 2, 3). Because of their mutability, lists offer more built-in methods like append(), remove(), and pop(). Tuples support fewer methods due to their fixed nature.

Performance-wise, tuples are generally faster and use less memory than lists, which makes them suitable for situations where the data should not change. For example, tuples are often used for fixed collections like coordinates, dates, or constants, while lists are better suited for dynamic data.

In summary, choose lists when you need a flexible, changeable data structure, and use tuples when the data should remain constant throughout the program.

#Que 4- Describe how dictionaries store data?

 Dictionaries in Python store data as key-value pairs using a hash table. Each key is hashed to determine where its value is stored in memory, enabling fast lookups.

 -Keys must be unique and immutable.

 -Values can be of any data type.

#Que 5 - Why might you use a set instead of a list in Python?


You need unique items – Sets automatically remove duplicates.

Fast membership checks – Checking if an item exists in a set is faster (O(1)) than in a list (O(n)).

Set operations – Sets support mathematical operations like union, intersection, and difference.

#Que 6- What is a string in Python, and how is it different from a list?


A string in Python is a sequence of characters enclosed in quotes (single, double, or triple). It is used to represent text and is immutable, meaning once created, the string's content cannot be changed. For example, "Hello, World!" is a string.

On the other hand, a list is a sequence that can store a collection of items, and the elements can be of any data type, including strings, integers, or even other lists. Lists are mutable, meaning their elements can be changed, added, or removed. For example, ['h', 'e', 'l', 'l', 'o'] is a list of characters.

The key differences are that strings can only contain characters and are immutable, while lists can hold multiple data types and are mutable. Strings are ideal for handling text, while lists are used for more general collections.

#Que 7 How do tuples ensure data integrity in Python
Tuples ensure data integrity by being immutable, meaning once created, their elements cannot be modified. This immutability prevents accidental changes, making them ideal for storing constant or fixed data.

#Que 8 What is a hash table, and how does it relate to dictionaries in Python
A hash table is a data structure that stores data in key-value pairs. It uses a hash function to compute an index (hash value) where the value is stored. Python's dictionaries are implemented using hash tables, which allow for efficient lookups, insertions, and deletions by using the hash value of the key.

#Ques 9 Can lists contain different data types in Python
Yes, lists in Python can contain elements of different data types. A list can hold integers, strings, floats, and even other lists or dictionaries. For example, my_list = [1, "apple", 3.14] is a valid list containing mixed data types.

#Ques 10 Explain why strings are immutable in Python
Strings are immutable in Python because they are designed to be efficient and safe. Since strings are frequently used and shared between parts of a program, immutability ensures that strings cannot be altered by mistake, which avoids unexpected behavior or errors.

#Ques 11 What advantages do dictionaries offer over lists for certain tasks
Dictionaries offer faster lookups compared to lists because they use a hash table for storing key-value pairs. When you need to access data by a unique identifier (key), dictionaries provide an efficient, constant-time access (O(1)), unlike lists that require linear time (O(n)) for searching.

#Ques 12 Describe a scenario where using a tuple would be preferable over a list
A tuple would be preferable over a list when the data is constant and should not be altered. For example, storing a set of coordinates (x, y, z) in a tuple ensures the values cannot be accidentally modified, preserving data integrity.

#Ques 13 How do sets handle duplicate values in Python
Sets automatically remove duplicates. If you try to add duplicate values to a set, it will only store one instance of each value. This makes sets useful for ensuring unique items in a collection.


#Ques 14 How does the “in” keyword work differently for lists and dictionaries
The in keyword checks if an item exists in a list by searching through the elements, which takes linear time (O(n)). In dictionaries, it checks if a key exists, which is much faster, taking constant time (O(1)), due to the underlying hash table.

#Que 15 Can you modify the elements of a tuple? Explain why or why not
You cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its values cannot be changed, which ensures the integrity and consistency of the data it holds.


#Ques 16 What is a nested dictionary, and give an example of its use case
A nested dictionary is a dictionary where the values themselves are dictionaries. It is useful when you need to represent hierarchical data. For example, {'student1': {'name': 'Alice', 'age': 21}, 'student2': {'name': 'Bob', 'age': 22}} represents data about students, with each student having its own dictionary.


#Que 17 Describe the time complexity of accessing elements in a dictionary
The time complexity of accessing elements in a dictionary is O(1) on average. This constant-time access is made possible by the underlying hash table structure, which allows for fast lookups by key.


#Que 18 In what situations are lists preferred over dictionaries
Lists are preferred when you need an ordered collection of items or when the position of elements matters. Lists are also suitable when you need to perform index-based operations or when the collection contains duplicate values.

#Ques 19 Why are dictionaries considered unordered, and how does that affect data retrieval
Dictionaries are considered unordered because the elements are stored based on the hash values of keys, not in any specific order. However, starting from Python 3.7, dictionaries preserve insertion order. This does not affect data retrieval as long as you access elements by key, which is still efficient.


#Que 20 Explain the difference between a list and a dictionary in terms of data retrieval.
In a list, data is retrieved using an index, meaning you access elements based on their position in the sequence. In a dictionary, data is retrieved using a key, allowing direct access to the corresponding value without needing to know its position, making dictionaries more efficient for lookups by key.

## Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
# Create a string with your name
name = "Pranjul"

# Print the string
print("My name is", name)

My name is Pranjul

2. Write a code to find the length of the string "Hello World".

In [2]:
# Define the string
text = "Hello World"

# Find the length of the string
length = len(text)

# Print the length
print("The length of the string is:", length)

The length of the string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
first_three = text[0:3]

# Print the result
print("First 3 characters:", first_three)

First 3 characters: Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase:", uppercase_text)

Uppercase: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
# Define the string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
# Define the list
numbers = [1, 2, 3, 4]

# Append the number 10
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]P

In [8]:
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("Second element:", second_element)

Second element: b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
# Create a tuple with the elements 100, 200, 300
my_tuple = (100, 200, 300)

# Print the tuple
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = colors[-2]

# Print the result
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number in the tuple
min_number = min(numbers)

# Print the result
print("The minimum number is:", min_number)

The minimum number is: 5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of the element 'cat'
index_of_cat = animals.index('cat')

# Print the result
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
# Define the tuple with three different fruits
fruits = ('apple', 'banana', 'orange')

# Check if 'kiwi' is in the tuple
is_kiwi_in_tuple = 'kiwi' in fruits

# Print the result
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
# Create a set with the elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print("Set:", my_set)

Set: {'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
# Define the set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the result
print("Set after clearing:", my_set)

Set after clearing: set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
# Define the set
my_set = {1, 2, 3, 4}

# Remove the element 4
my_set.remove(4)

# Print the result
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [21]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)

# Print the result
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
# Create the dictionary
person = {
    "name": "Pranjul",
    "age": 24,
    "city": "Aligarh"
}

# Print the dictionary
print("Dictionary:", person)

Dictionary: {'name': 'Pranjul', 'age': 24, 'city': 'Aligarh'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
# Define the dictionary
person = {'name': 'John', 'age': 25}

# Add a new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value associated with the key 'name'
name_value = person['name']

# Print the result
print("The value associated with 'name' is:", name_value)

The value associated with 'name' is: Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key 'age'
del person['age']

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [27]:
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key 'city' exists in the dictionary
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [29]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Pranjul', 'age': 24, 'city': 'Aligarh'}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Pranjul', 'age': 24, 'city': 'Aligarh'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [32]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list:", random_numbers)

Sorted list: [8, 18, 34, 59, 70]

28. Write a code to create a list with strings and print the element at the third index.

In [35]:
# Create a list with strings
my_list = ['aligarh', 'agra', 'kanpur', 'narora', 'banaras']

# Print the element at the third index (index 3)
print("Element at index 3:", my_list[3])

Element at index 3: narora

29. Write a code to combine two dictionaries into one and print the result.

In [36]:
# Define the two dictionaries
dict1 = {'name': 'Pranjul', 'age': 24}
dict2 = {'city': 'Delhi', 'Kanpur': 'Aligarh'}

# Combine the two dictionaries
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Pranjul', 'age': 24, 'city': 'Delhi', 'Kanpur': 'Aligarh'}

30.  Write a code to convert a list of strings into a set.

In [37]:
# Define the list of strings
my_list = ['apple', 'banana', 'cherry', 'apple', 'date']

# Convert the list to a set (removes duplicates)
my_set = set(my_list)

# Print the set
print("Converted set:", my_set)

Converted set: {'cherry', 'date', 'apple', 'banana'}